<div class="text-center">


    <h1>Historias de <%= @user.username %></h1>

  </div>


<div class="container">

  <div class="row">
    <% @histories.reverse.each do |history| %>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail thumbnail-custom">
          <figure>
            <div class="thumbnail-text">

              <%= link_to 'Show', history %>

            </div>
            <%= link_to(image_tag(history.picture.thumb), history) if history.picture? %>
          </figure>
          <div class="caption">
            <h3><%= history.title %></h3>
            <small><%= time_ago_in_words(history.created_at) %> ago</small>
            <p><%= history.content.truncate(150)  %></p>
            <p>
              <% if user_signed_in? && (current_user.id == history.user_id || current_user.admin == true) %>
              <%= link_to 'Editar', edit_history_path(history), class: "btn btn-info" %>
              <%= link_to 'Eliminar', history, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
              <% end %>

            </p>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>

<br>
